* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 10);
    height: 100px;
    background-color: aquamarine;
    display: flex;
    font-size: 2.2rem; 
}

.red {
    background-color: rgb(250, 69, 69);
}

.green {
    background-color: rgb(29, 216, 145);
}

.blue {
    background-color: rgb(49, 49, 180);
}

.yellow {
    background-color: rgb(247, 255, 2);
}